<div class="auth-form-wrapper">
    <form class="auth-form"[formGroup]="form">
        <fieldset>
            <legend>Register</legend>
            <div class="form-field">
                <label>Email:</label>
                <input id="register-email" formControlName="email">
            </div>
            <div class="form-field">
                <label>Password:</label>
                <input id="register-password" formControlName="password" 
                       type="password">
            </div>
        </fieldset>
        <div class="form-buttons">
            <button type="button" id="register-btn" class="button button-primary" 
                    (click)="register()">Register</button>
        </div>
        <div class="link">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </div>
        <div id="error" class="auth-message-error" *ngIf="error">
            <p>{{error}}</p>
        </div>
        <div id="success" class="auth-message-success" *ngIf="success">
            <p>{{success}}</p>
        </div>

    </form>
</div>
