<div class="app-container" (confirmSaveEvent)="saveDocument($event)">
  <app-document-list class="app-document-list"
    (loadEvent)="loadToEditor($event)">
  </app-document-list>
  <div class="editor">
    <app-toolbar 
      (saveEvent)="openSaveDialog()"
      (newEvent)="newDocument()"
      ></app-toolbar>
    <editor
    outputFormat="html"
      [(ngModel)]="editorContent"
      [init]="{
        base_url: './tinymce',
        suffix: '.min',
        height: 500,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        toolbar:
          'undo redo | formatselect | bold italic backcolor | \
          alignleft aligncenter alignright alignjustify | \
          bullist numlist outdent indent | removeformat | help'
        }"
    ></editor>
  </div>

</div>
