<div class="app-container" (confirmSaveEvent)="saveDocument($event)">
  <app-document-list class="app-document-list">
  </app-document-list>
  <div class="editor">
    <app-toolbar 
      (saveEvent)="openSaveDialog()"
      (newEvent)="newDocument()"
      (commentEvent)="addComment()"
      (emailEvent)="sendEmail()"
      (codeSelectedEvent)="toggleCodeMode($event)"
      ></app-toolbar>
    <div *ngIf="codeMode">
      <div class="button-container">
        <span id="execute-code" class="icon faPlay" (click)="executeCode()">
          <fa-icon [icon]="faRun">
          </fa-icon>
        </span>
      </div>
      <ngx-monaco-editor
        [options]="{
          theme: 'vs-dark',
          language: 'javascript'
        }"
        [(ngModel)]="codeContent">
      </ngx-monaco-editor>
      <div id="code-result" class="result">
        <div>Output>></div>
        {{ codeResult }}
      </div>
    </div>
    
    <div [className]="codeMode ? 'hidden' : 'visible'">
      <textarea id="editor"></textarea>
    </div>
  </div>
</div>
