.app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
}

.editor {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .app-container {
        flex-direction: column-reverse;
    }
    .editor {
        margin-bottom: 1em;
    }

  }