<div class="doc-list-container"  *ngIf="docs">
    <div class="doc-list-header">
        <h2>Documents</h2>
    </div>
    <div class="spinner-container" *ngIf="loading; else elseBlock"><mat-spinner [diameter]="50"></mat-spinner><p>Loading...</p></div>
    <ng-template #elseBlock>
        <div id="doc-list" class="doc-list" *ngFor='let document of docs'>
            <li (click)="onDocumentClick(document)" [ngClass]="selectedDocument === document._id ? 'doc-list-item marked' : 'doc-list-item'">
                {{document.name}} 
                <span *ngIf="document.type == 'code'" class="icon codeType">
                    <fa-icon [icon]="faCode">
                    </fa-icon>
                </span>
                <span *ngIf="document.type == 'text'" class="icon textType">
                    <fa-icon [icon]="faFile">
                    </fa-icon>
                </span>
            </li>
        </div>
    </ng-template>
  
</div>
