<div class="toolbar">
    <div class="toolbar-title">
        <div class="toolbar-filename">
            <p>{{ fileName }}</p>
            <div id="not-saved-wrapper" *ngIf="typing">
                <span id="not-saved"></span>
                <span>Someone is typing...</span>
            </div>
        </div>
    </div>
    <div class="toolbar-button-wrapper">
        <div class="toolbar-buttons">
            <div>
                <span id="save" class="icon save" (click)="onSave()">
                    <fa-icon [icon]="faSave">
                    </fa-icon>
                </span>
        
                <span id="new" class="icon new" (click)="onNew()">
                    <fa-icon [icon]="faPlus">
                    </fa-icon>
                </span>

                <span id="pdf" class="icon pdf" *ngIf="displayPdf" (click)="onPdf()">
                    <fa-icon [icon]="faPdf">
                    </fa-icon>
                </span>
        
                <span id="logout" class="icon logout" (click)="onLogout()">
                    <fa-icon [icon]="faSignout">
                    </fa-icon>
                </span>
            </div>
        </div>
    </div>

    <div class="toolbar-actions" *ngIf="currentDoc && isOwner">
        <span>
            <select
            name="allowed-users" 
            id="allowed-users" 
            #au (change)="onAllowedUserClick(au.value)"
            style='height: 35px; font-family:FontAwesome; font-style: normal;'>
                <option value="" selected>Users (Select to remove)</option>
                <option
                style="font-weight:900;"
                *ngFor="let u of allowedUsers"
                value="{{u}}">
                {{u}}</option>
            </select>
        </span>
        <span>
            <input 
                [(ngModel)]="searchInput"
                type="text"
                name="search-user"
                id="search-user"
                placeholder="Search for users to add"
                (input)="onSearchChange()"
                style='height: 29px;'>
                <div *ngIf="searching" class="search-list">
                    <ul class="user-list">
                        <!-- results of ngFor is passed to appFilter with argument searchText -->
                        <li class="user-item" *ngFor="let u of allUsers | appFilter: searchInput" (click)="onUserClick(u)">
                          {{u.username}}
                        </li>
                    </ul>
                </div>
        </span>
    </div>
</div>
