<div class="toolbar">
    <span id="save" class="icon save" (click)="onSave()">
        <fa-icon [icon]="faSave">
        </fa-icon>
    </span>

    <span id="new" class="icon new" (click)="onNew()">
        <fa-icon [icon]="faPlus">
        </fa-icon>
    </span>

    <span id="logout" class="icon logout" (click)="onLogout()">
        <fa-icon [icon]="faSignout">
        </fa-icon>
    </span>

    <div id="not-saved-wrapper" *ngIf="typing">
        <span id="not-saved"></span>
        <span>Someone is typing...</span>
    </div>

    <div class="toolbar-filename">
        <p>{{ fileName }}</p>
    </div>
</div>
